{
    "parser": "babel-eslint",

    "plugins": [
        "react"
    ],

//    "extends": ["eslint:recommended", "plugin:react/recommended"],

    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "globalReturn": true,
            "jsx": true,
            "modules": true
        }
    },

    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "commonjs": true
    },

    "globals": {
        "document": true,
        "escape": true,
        "navigator": true,
        "unescape": true,
        "window": true,
        "describe": true,
        "before": true,
        "it": true,
        "expect": true,
        "sinon": true
    },

    /*
    "off" or 0 - turn the rule off
    "warn" or 1 - turn the rule on as a warning (doesn’t affect exit code)
    "error" or 2 - turn the rule on as an error (exit code is 1 when triggered)
    */

    "rules": {
        "quotes": [1, "single"],
    //  "strict": ["error", "global"],
        "require-jsdoc": [0],
        "valid-jsdoc": [0],
        "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    //  "camelcase": ["error", { "properties": "always" }],
        "block-spacing": [1, "always"],
        "comma-style": [2, "last"],
        "comma-spacing": [2, { "before": false, "after": true }],
        "indent": [1, 4, {"SwitchCase": 1}],
        "no-ternary": [0],
        "padded-blocks": [1, "never"],
        "semi-spacing": [2],
        "space-infix-ops": [2],
        "keyword-spacing": [2],
        "space-in-parens": [2, "never"],
        "no-mixed-spaces-and-tabs": [2],
        "eqeqeq": [2, "smart"],
        "quote-props": [2, "consistent", { "keywords": true, "unnecessary": false }],
        "no-inner-declarations": [0],
        "react/prop-types": [0],
    //  "react/jsx-indent": [1, 4],
        "no-console": [0],
        "no-unused-vars": [0]
    }
}
