*.swp
*.pyc
*.egg-info
ve/
build/
dist/
*.swo
/docs/_build
coverage.xml
pep8.txt
.tox/
photologue/
.idea/
.coverage
*.sqlite3
*.db
.DS_Store
node_modules
bower_components
settings_local.py
/dev.sh
/tags
**/static/**/generated_statics
